<h1>Create</h1>
<form method="post" action="/create">
<label for="name"><input type="text" name="name">Name</label>
<label for="price"><input type="number" name="price">Price</label>
<input type="submit" value="Create">
</form>