<section>
    <h1>Login</h1>
    {{#if error}}
    {{#each error}}
    <p class="error">{{this}}</p>
    {{/each}}

    {{/if}}
    <form action="/auth/login" method="post">
        <label for="username">Username
            <input type="text" name="username">
        </label>
        <label for="password">Password
            <textarea type="password" name="password"></textarea>
        </label>
        
        <button>Submit</button>
    </form>
</section>