/* DETAILS */
.details-view.container {
    min-width: 364px;
}

.detailed-card {
    min-height: 70vh
}

.sugg-card.details {
    width: 90%;
}

.sugg-card.details .card-header {
    min-height: 13%;
}

.sugg-card.details .card-footer {
    min-height: 7%;
}

.sugg-card.details .card-main {
    min-height: 80%;
    padding: 1.5rem;
}

/* added */
.card-footer-owner {
    margin-left: 20px;
}

.print,
.delete-card:hover,
.edit-card:hover {
    color: var(--clr-light);
}

.print:hover,
.delete-card,
.edit-card {
    color: var(--clr-highlight);
}

.countdown-text {
    font-style: italic;
    font-size: smaller;
    font-weight: 200;
}

/* .sugg-card.details.detailed-card{
    min-height: 90vh;
} */