/* || MEDIA QS */

/* print option */
@media print {
    .page.header,
    h2,
    .footer,
    .card-footer{
        display: none;
    }
   
    .sugg-card.details {
        width: 100%;
    }
    .detailed-card {
        min-height: 90vh;
    }
    .sugg-card{
        box-shadow: none;
        border: none;
    }
}
/* email option */