@import url('./reset.css');
@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");

@import url("home.css");
@import url("card.css");
@import url("buttons.css");
@import url("catalog.css");
@import url("details.css");
@import url("forms.css");
@import url("mqs.css");
@import url("profile.css");
@import url("loader.css");
@import url("logout.css");

:root {
    --clr-bgr: #132930;
    --clr-highlight: #F79234;
    --clr-drk-mid: #2a3d43;
    --clr-mid: #52696f;
    --clr-light: white;
    --txt-shadow: 1px 1px 1px #132930;
    --clr-grad: #c2e2ee;
    --clr-err: rgb(194, 33, 33);
}

html {
    background: linear-gradient(119deg, rgba(19, 41, 48, 1) 0%, rgba(202, 235, 247, 1) 49%, rgba(247, 247, 247, 1) 100%);
    font-family: "Mulish", "sans-serif";
    letter-spacing: 0.6px;
}

/* icons ---*/
.fa-solid {
    padding-left: 5px;
    color: var(--clr-bgr);
}

.fa-solid:hover {
    color: var(--clr-highlight)
}

.user.suggested .sugg-like-link {
    display: none;
}

/*--- icons end */

.suggestit-brand {
    color: var(--clr-light);
}

.page.header,
.page.main,
.page.footer {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    min-width: 379px;
}

.header.container,
.footer.container {
    background: linear-gradient(0deg, rgba(19, 41, 48, 1) 0%, rgba(46, 101, 119, 1) 73%, rgba(91, 200, 235, 1) 100%);
    color: var(--clr-light);
}

.special-border {
    border-radius: 5px;
}

/*****|| HEADER *****/
.page.header {
    height: 10vh;
}

.header.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: relative;
}

.header-wrapper {
    display: flex;
    flex-flow: column;
}

.suggest-it {
    color: var(--clr-highlight);
}

.subtitle-header {
    font-weight: 300;
}

.title-header {
    font-size: 1.2rem;
}

.logo-nav {
    color: inherit;
}

.logo-nav:active,
.logo-nav:hover {
    text-shadow: 4px 4px 4px #132930;
}

.subtitle-header {
    font-size: 0.8rem;
}

/* header nav */
.nav.header {
    color: var(--clr-light);
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.nav.header.list .links {
    text-align: center;
}

.nav.header.list .links:hover {
    background-color: var(--clr-highlight);
    color: var(--clr-light);
    border-radius: 5px;
    text-shadow: 1px 1px 1px #132930;
}

/* whos lookin */
.whos-lookin-wrapper {
    position: absolute;
    top: 70%;
    left: 91%;
    font-style: italic;
    font-size: smaller;
    color: var(--clr-highlight);
}

.whos-lookin.logged-user {
    display: none;
}

/*** || MAIN ***/
.page.main {
    height: auto;
    min-height: 85vh;
}

.main.container {
    padding: 1rem;
    text-align: center;
    line-height: 2;
}

/*** || FOOTER ***/
.page.footer {
    height: 5%;
}

.footer.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 1rem 0;
    font-weight: 200;
    font-size: 12px;
}

.foot {
    padding-right: 10px;
}

.catalog-view-card {
    overflow: hidden;
}