@media screen and (max-width:600px) {
      #home,#about-us,#about,#contact-us,#footer{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        /* width:100%; */
    }

    .container {
        text-align: center;
        width:100%
    }

    #about-us>div>div.container>div>div.col-12.col-sm-12.col-lg-4.service-txt,
    body>section.about>div>div>div:nth-child(2) {
        padding: 0 5%;
    }

    .navbar-collapse,
    .navbar-nav,
    .contact-btn,
    .container-fluid.hero img,
    .hero-btns.contact-btn a {
        display: none;
    }

    .navbar-light .navbar-brand {
        margin-right: 0%;
    }

    nav {
        flex-flow: column;
    }

    .navbar {
        padding-top: 5px;
    }

    h3 {
        padding-top: 0%;
    }

    .hero h1 {
        margin-top: 20px;
    }

    .hero p {
        padding: 0 2%
    }

    .hero-btns {
        display: flex;
        flex-flow: column;
        width: 60%;
        margin: 0 auto 96px auto;
    }

    .row {
        flex-flow: column;
    }

    .row .col-12 {
        text-align: center;
    }

    .col-12 {
        max-width: 100%;
        text-align: left;
    }

    .service-box {
        min-height: 512px;
        text-align: left;
    }

    .service-box p {
        margin-top: 8%;
    }

    .service-box img {
        height: 13%;
    }

    .services p {
        line-height: 2;
    }

    img {
        margin-bottom: 15%;
    }

    .about {
        margin-bottom: 78px;
    }

    .contact-nav {
        display: flex;
        flex-flow: column;
    }

    footer {
        gap: 6px
    }

    .side-img,
    .side2-img {
        overflow: hidden;
    }
}