main{
    background-color: lightblue;
}

header{
    background-color: lightgray;
}

form{
    display: flex;
    flex-flow: row wrap;
   padding: 5px;
    width: 100px;    
    text-align: left;
}
.error{
    color: red;
    font-weight: bold;
    text-transform: capitalize;
}

.search{
    background-color: lightgray;
}

.img-cont{
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit:scale-down
}

ul{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    list-style: none;
}
