body{
    display: flex;
    background-color: rgb(238, 238, 238);
height: 100vh;
align-items: center;
justify-content: center;
}

.card{
   
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px #AFAFAF;
    border-radius: 0.4em;
    padding: 1rem;
}
