body{
    display: flex;
    background-color: rgb(238, 238, 238);
height: 100vh;
/*** 1st option with alignment ***/
/* align-items: center;
justify-content: center; */
}

.card{
   /*** 2nd option-with just margin: auto; ***/
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px #AFAFAF;
    border-radius: 0.4em;
    padding: 1rem;
}
