<form action="/users/create" method="post" style="padding: 30px">
<div class="mb-3">
    <label for="email" class="form-label" name="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
</div>
<div class="mb-3">
    <label for="firstName" class="form-label" name="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName">
</div>
<div class="mb-3">
    <label for="secondName" class="form-label" name="secondName">Second Name</label>
    <input type="text" class="form-control" id="secondName" name="secondName">
</div>
<div class="mb-3">
    <label for="imageUrl" class="form-label" name="imageUrl">ImageUrl</label>
    <input type="text" class="form-control" id="imageUrl" name="imageUrl">
</div>
<div class="mb-3">
    <label for="phoneNumber" class="form-label" name="phoneNumber">Phone Number</label>
    <input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
</div>
<button type="submit" class="btn btn-dark">Submit</button>
</form>