@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('./buttons.css');

:root {
    --clr-white: #ffffff;
    --grey-text-clr: #8f8f91;
    --gr1: #f04436;
    --gr2: #ef5026;
    --gr3: #ed5b0e;
    --fot-clr-bgr: #f8f8f8;
    --border-clr: #ffbeba;
}

body {
    font-family: Poppins, 'sans-serif';
}

/* font-family: 'Open-sans','sans-serif' */

section.about>article>div>button {
    background: #ED5B0E;
    background: linear-gradient(to right, #F04436 0%, #EF5026 50%, #ED5B0E 100%);
}

header,
main,
footer {
    width: 100%;
    margin: 0 auto;
}

.hero-container,
.about-container,
footer.container {
    width: 70%;
    margin: 0 15%;
}

/* NAVIGATION */
nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    font-family: 'Open sans', 'sans-serif';
    font-weight: 700;
    padding: 2% 0;
    font-size: 18px;
}

.hero-bgr-image {
    object-fit: cover;
    overflow: hidden;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list a {
    display: inline-block;
    padding: 10px 15px;
}

.logo-container {
    width: 100px;
    height: 100px;
}

.logo {
    object-fit: contain;
}

/* || HERO */
.hero {
    height: 65%;
    position: relative;
}

.hero-bgr-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
}

.hero-dog {
    object-fit: cover;
    position: absolute;
    top: 9%;
    left: 28%;
    height: 104%;
}

/* hero text */
.hero-text-container {
    color: var(--clr-white);
    position: absolute;
    top: 24%;
    left: 16%;
    z-index: 10;
    width: 25%
}

h1 {
    font-size: 90px;
    line-height: 1.2;
}

span {
    font-weight: 200;
}

.hero-text-container p {
    font-size: 20px;
    line-height: 2;
    padding: 5% 0 10% 0;

}

/* || SERVICES */
.services {
    height: 100vh;
    padding-top: 10%;
    margin: 0 15%;
}

h2 {
    font-size: 62px;
    text-align: center;
}

.services-sub {
    font-size: 21px;
    color: var(--grey-text-clr);
    text-align: center;
    padding: 0 20%;
}

/* card */
.services-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin-top: 7%;
}

.services-card {
    border: 1px solid var(--border-clr);
    border-radius: 15px;
    height: 150%;
    padding: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.card-image {
    position: absolute;
    top: 27%;
    z-index: 10;
}

.services h3 {
    font-size: 22px;
    padding: 5% 0;
}

.services-card p {
    color: var(--grey-text-clr);
    font-size: 18px;
}

/* || ABOUT*/
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 50%;
    padding: 0 5%;
    text-align: left;
}

.about-text h2 {
    padding-bottom: 5%;
    text-align: left;
}

.about-text p {
    color: var(--grey-text-clr);
    font-size: 18px;
    padding-bottom: 10%;
}

/* || INFO*/
.info{
    height: 60%;
    margin: 0% auto;
    position: relative;
    text-align: center;

}

.info-container{
    color: var(--clr-white);
    width:40%;
    height: 100%;
    padding: 8% 0%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.info-container h2{
    padding-bottom: 3%;
}
.info-container p{
font-size: 26px;
}

.info-contact{
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

/* || FOOTER*/
