@import url('https://use.fontawesome.com/releases/v6.2.1/css/all.css');
@import url("./reset.css");

:root {
    --backgr-color: #ffffff;
    --backgr-color-card: #f8f8f8;
    --btn-and-font-color: #2d2d2d;
    --input-bgr-lbl-color: #ffffff;
    --box-shadow: 5px 5px 15px 1px #d4d4d4ab;
}

body {
    font-family: sans-serif;
    color: var(--btn-and-font-color);
}

form {
    width: 90vw;
    height: 30vh;
    margin: 10% auto;
    border: 0.1rem solid var(--btn-and-font-color);
    box-shadow: var(--box-shadow);
    background-color: var(--backgr-color-card);
    position: relative;
}

fieldset {
    border: none;
}

legend {
    font-size: 0.5rem;
    border: 0.1rem solid var(--btn-and-font-color);
    background-color: var(--backgr-color-card);
    padding: 0.5rem 6rem 0.5rem 1.5rem;
    position: relative;
    left: -5%;
    top: -1rem;
}

.container {
    position: absolute;
    width: 90%;
    display: inline-block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    display: inline-block;
    margin-right: 1rem;
}

input {
    width: 65%;
    padding: 0.5em;
    font-size: 0.7em;
    margin-bottom: 0.5em;
    border: none;
    border: 0.1rem solid #d8d8d8;
}

#username:focus,
#password:focus {
    background-color: lightblue;
}

#username:focus+i,
#password:focus+i {
    color: blue;
}

p {
    position: relative;
}

i {
    position: absolute;
    font-size: 0.8rem;
}

.fa-user {
    top: 20%;
    left: 36%;
}

.fa-key {
    top: 21%;
    left: 35%;
}

.user,
.pass,
button,
fieldset,
legend,
input {
    border-radius: 0.3rem;
}

button {
    background-color: var(--btn-and-font-color);
    color: var(--input-bgr-lbl-color);
    font-size: 1rem;
    width: 25%;
    padding: 0.7rem 0.7rem;
    margin: 0.5% 0;
    border: none;
}

.username,
.password,
button,
legend {
    font-weight: 700;
}

.username,
.password,
legend {
    font-size: 1rem;
}

/* || MEDIA QUERIES */

@media screen and (min-width:414px) and (max-width: 819) {
    .fa-user {
        left: 32%;
    }

    .fa-key {
        left: 31%;
    }
}



@media screen and (min-width:820px) {
    form {
        width: 80vw;
    }

    .username,
    .password,
    legend {
        font-size: 1.5rem;
    }

    input,
    i {
        font-size: 1.2rem;
    }

    .fa-user {
        left: 26%;
    }

    .fa-key {
        left: 25%;
    }

    button {
        margin-top: 1rem;
    }
    input{
        width: 75%;
    }
    legend{
        left: -3%
    }

}

/* @media screen and (min-width: 800px) and (max-width: 1335px) {
    form {
        width: 45%
    }

    .username,
    .password,
    legend {
        font-size: 1rem;
    }

    legend {
        left: -5%
    }
}

@media screen and (min-width: 1336px) and (max-width: 1507px) {

    .username,
    .password,
    legend {
        font-size: 1rem;
    }

    i {
        font-size: smaller;
    }

    button {
        font-size: smaller;
    }

    legend {
        left: -8%;
    }

    input {
        width: 70%;
    }
}

@media screen and (min-width: 1508px) and (max-width: 1720px) {
    form {
        width: 40%;
        height: 30%;
    }
}

@media screen and (min-width: 1721px) and (max-width: 1797px) {

    .username,
    .password,
    legend {
        font-size: 1.2rem;
    }

    form {
        width: 35%;
    }
}

@media screen and (min-width: 1798px) and (max-width: 1941px) {

    form {
        width: 40%;
        height: 20%;
    }
} */