.btn.intro.heading{
    background-color: transparent;
    padding: 0.5% 1%;
    margin: 2% 0;
  
}

.sign-up{
background-color: white;
}
.sign-up,.btn.intro.heading,#email{

    border-radius: 0.2rem;
}