@import url('https://use.fontawesome.com/releases/v6.2.1/css/all.css');

html{
    font-family: serif;
    line-height: 1.5;
}

h2{
    font-size: 2rem;
}

h4{
    font-size: 1.6rem;
}

h6{
font-size: 1.2rem;
}

.foot.contacts > ul > li:nth-child(n){
    font-weight: 700;
    font-family: sans-serif;
}

footer{
    font-size: 12px;
}
