<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cubicle</title>
    {{!-- option 1 css --}}
    {{!--
    <link href="/css/site.css" type="text/css" rel="stylesheet"> --}}
    {{!-- --}}
    {{!-- option 2 change css --}}
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/static/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                {{!-- change to /cube/create --}}
                <li><a href="/cube/create">Add a Cube</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </header>
        {{{body}}}
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>