@import url(https://use.fontawesome.com/releases/v6.2.1/css/all.css);

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
  }
  body{
    font-size: 20px;
  }

ul {
    display: inline-block;
    /* position: absolute; */
    list-style-type: none;
 
}

li {
    display: inline-block;
    /* position: relative; */
    margin: 5px;
}

a {
    display: inline-block;
    position: relative;
    background-color: #ccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 50%;
}

i {
    display: inline-block;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-square-facebook:hover{
color: rgb(32, 32, 222);
}
.fa-square-twitter:hover{
color: rgb(60, 163, 242);
}
.fa-google-plus:hover{
color: red;
}
.fa-linkedin:hover{
color: #00A0DC;
}
.fa-instagram:hover{
color: #833AB4;
}