<h1>Articles</h1>

<ul>
    {{#each articles}}
    <li class="article-li">
        <header>{{title}}</header>
        <main>{{content}}</main>
        <footer>{{author}}</footer>
    </li>
    {{/each}}
</ul>