<h1>Home</h1>
{{!-- TODO userdata --}}
{{#if user}}
<p>User: {{user.username}}</p>
{{/if}}
{{!-- TODO errors --}}
{{!-- {{#if errors}}
<section class="notifications">
    {{#each errors}}
    <p class="notification-message">{{this}}</p>
    {{/each}}
</section>
{{/if}} --}}