<h1>Register</h1>
<form action="/auth/register" method="post">
<label>Username<input type="text" name="username"></label>
<label>Password<input type="password" name="password"></label>
<label>Repeat password<input type="password" name="repass"></label>
<button>Submit</button>
</form>