@media all and (max-width:800px) {
    nav {
        flex-flow: column wrap;
        justify-content: center;
    }

    header .menu ul.nav-options {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    main {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .trainings {
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        margin: 0 auto;
    }

    .instructors {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width:100%
    }

    .instructors-pic {
        justify-content: center;
        align-items: center;
        /* width:100%; */
    }
    .instructors-pic li{
           width:100%;
    }

    .getInTouch {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form {
        flex: 1 1 56%;
    }

    .map img{
        width: 90%;
    }

    .site-footer .wrapper {
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        position: relative;

    }

    .classes li div {
        align-self: unset;
    }

    .classes li {
        width: 35%
    }

    .classes ul {
        margin: 0 auto;
        justify-content: space-around;
    }

   
.site-footer .contacts {
    position: absolute;
    top: 51%;
    left: 50%;
}
}