  /* === ***Card START */
  .sugg-card {
      width: 40%;
      min-width: 212px;
      height: 20vh;
      min-height: 350px;
      max-height: fit-content;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: space-between;
      margin: 1rem auto;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 5px 5px 17px 0px #688589;
      border-radius: 10px;
      background-color: var(--clr-light);
  }

  /* ***Card Header */
  .card-header,
  .card-footer {
      background: linear-gradient(0deg, rgba(19, 41, 48, 1) 0%, rgba(46, 101, 119, 1) 73%, rgba(91, 200, 235, 1) 100%);
  }

  .card-header {
      min-height: 15%;
      text-align: center;
      margin: 0 auto;
      width: 100%
  }

  .logo-line {
      font-size: 1.2rem;
      margin: 0;
      padding: 5px 0;
  }

  /* *** Card Main */
  .card-main {
      padding: 1rem;
      min-height: 70%;
  }

  .sugg.list {
      display: flex;
      flex-flow: column wrap;
      overflow: hidden;
  }

  .sugg-item-wrapper {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
  }

  .author-nickname {
      display: none;
  }

  .sugg-text {
      font-size: 14px;
      flex: 1 1 80%;
  }

  .sugg-ranking {
      flex: 1 1 20%;
  }

  .rank {
      padding: 0 0 0 0.5rem;
      font-weight: 600;
  }


  /* *** Card Footer */
  .card-footer {
      background-color: var(--clr-bgr);
      color: var(--clr-light);
      width: 100%;
      min-height: 15%;
  }

  .card-footer-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      /* margin: 0 auto; */
      padding: 5px 20px;
  }

  .card-footer-text {
      font-weight: 200;
      font-style: italic;
      font-size: 0.7rem;
  }


  /* DETAILS */
  .details-view.container {
      /* display: none; */
      min-width: 364px;
  }

  .details-view.wrapper {
      /* height: auto; */
      /* min-height: 85%; */
      /* width: 100%; */
  }

  /* add aricle to details...?!  */


  .details-link{
      color: var(--clr-highlight);
  }

  details-link:hover {
      color: var(--clr-light);
  }

  /*** Details CARD special */
  .sugg-card.details {
      width: 90%;
      /* min-height: 70vh; */
      height: auto;
  }

  .sugg-card.details .card-header {
      min-height: 10%;
  }

  .sugg-card.details .card-footer {
      min-height: 5%;
  }

  .sugg-card.details .card-main {
      /* height: 100%; */
      min-height: 85%;
      padding: 1.5rem;
  }

  .sugg-card.details .card-footer .details-link {
      display: none;
  }

  .sugg-card.details .sugg-text {
      text-align: left;
  }

  .sugg-card.details .sugg-ranking {
      text-align: right;
  }

  .add-sugg-link{
   color: var(--clr-light);
  }
  .add-sugg-link:hover{
    color: var(--clr-highlight);
  }

  /* .details-view.wrapper {
    min-height: auto;
   
} */

  /* ===***Card END */