/* ADD/POST  */

/* if logged in */
/* if not-regiter */

.add-sugg-wrapper {
    display: none;
  }
  
  /* form */
  .add-sugg-wrapper {
    height: 40vh;
    width: 60%;
    box-shadow: 5px 5px 17px 0px #688589;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .add-sugg.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
  }
  
  textarea{
    border: none;
    width: 100%;
  }
  
  .add.sugg.author{
    display: none;
  }

  /* || LOGIN + REGISTER */

  /* || REGISTER */

  /* form */
.register.wrapper {
    /* display: none; */
    height: 50vh;
    width: 60%;
    box-shadow: 5px 5px 17px 0px #688589;
    border-radius: 10px;
    margin: 0 auto;
}

.register.form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.register .wrap {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.reg.lbl {
    flex: 1 0 30%;
    text-align: left;
    font-size: 1.2rem;
}

.reg.entry {
    flex: 1 0 60%;
}

/* || LOGIN */