/* || FROMS CSS */
.form-wrapper {
    box-shadow: 5px 5px 17px 0px #688589;
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
    min-width: 380px;
}

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

form button{
    margin-top: 1rem;
}

/* input and label container */
.wrap {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* ADD/POST  */

/* if logged in */
/* if not-register */

.add-sugg.form-wrapper {
    display: none;
    min-height: 40vh;
}

.add-sugg.form {
    width: 80%;
}

textarea {
    border: none;
    width: 100%;
}

.add.sugg.author {
    display: none;
}

/* || REGISTER && LOGIN */
.register.form,
.login.form {
    width: 90%;
    padding: 2rem;
}

.reg.lbl,
.log.lbl {
    flex: 1 0 30%;
    text-align: left;
    font-size: 1.2rem;
}

.reg.entry,
.log.entry {
    flex: 1 1 60%;
}

/* ***|| REGISTER */
.register.form-wrapper {
    display: none;
    min-height: 50vh;
}

/* ***|| LOGIN */
.login.form-wrapper {
    /* display: none; */
    min-height: 40vh;
}

.login.form-wrapper .login .form {
    gap: 1rem
}