/* || FROMS CSS */
.form-wrapper {
    box-shadow: 5px 5px 17px 0px #688589;
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
}

.form{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
}

/* input and label container */
.wrap {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

/* ADD/POST  */

/* if logged in */
/* if not-register */

.add-sugg.form-wrapper {
    display: none;
    height: 40vh;
}

.add-sugg.form {
    width: 80%;
}

textarea {
    border: none;
    width: 100%;
}

.add.sugg.author {
    display: none;
}

/* || REGISTER && LOGIN */
.register.form-wrapper,
.login.form-wrapper {
    height: 50vh;
}

.register.form,
.login.form {
    width: 90%;
    padding: 2rem;
}

.reg.lbl,
.log.lbl {
    flex: 1 0 30%;
    text-align: left;
    font-size: 1.2rem;
}

.reg.entry,
.log.entry {
    flex: 1 0 60%;
}

/* || REGISTER */
.register.form-wrapper{
    display: none;
}

/* || LOGIN */
.login.form-wrapper {
    /* display: none; */
}