.profile.window.container {
    /* display: none; */
    box-shadow: 5px 5px 17px 0px #688589;
}

.profile-wrapper {
    width: 90%;
    margin: 0 5%;
}

#prof-form {
    flex-flow: row nowrap;
}

.wrap.fname,
.wrap.lname,
.wrap.email {
justify-content: unset;
gap: 1rem;
}

.prof.lbl {
    font-weight: 800;
}


.prof.entry {
    border: none;
    background-color: transparent;
}

.show{
    margin: 2rem 1rem;
}

/* PUBLISHED */
.user.published{
    /* display: none; */
    background-color: red;
    width: 50%;
    height: 100vh;
}

/* CREATE */
.user.create{
    display: none;
    background-color: yellow;
    width: 50%;
    height: 100vh;
}


/* SUGGESTED */
.user.suggested{
    /* display: none; */
}
