@import url('https://use.fontawesome.com/releases/v6.2.1/css/all.css');

:root {
    --backgr-color: #ffffff;
    --backgr-color-card: #f8f8f8;
    --btn-and-font-color: #2d2d2d;
    --input-bgr-lbl-color: #ffffff;
    --box-shadow: 5px 5px 15px 1px #d4d4d4ab;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: var(--btn-and-font-color);
}

fieldset {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: var(--backgr-color-card);
    box-shadow: var(--box-shadow);
    border: 0.1rem solid var(--btn-and-font-color);
    max-width: 35vw;
    max-height: 30vh;
    min-width: 35vw;
    min-height: 25vh;
}

i {
    position: relative;
    left: 6%;
    font-size: 16px;
}

.user,
.pass,
button,
fieldset,
legend,
input {
    border-radius: 0.3rem;
}

input {
    height: 4vh;
    width: 70%;
    border: 0.1rem solid #d8d8d8;
}

input:focus {
    background-color: rgb(237, 237, 237);
}

button {
    background-color: var(--btn-and-font-color);
    color: var(--input-bgr-lbl-color);
    font-size: 16px;
    min-width: 8vw;
    height: 5vh;
    margin: 1.5rem;
}

.username,
.password,
button,
legend {
    font-weight: 700;
}

.username,
.password {
    font-size: 20px;
}

legend {
    background-color: var(--backgr-color-card);
    padding: 0.5rem;
    border: 0.1rem solid var(--btn-and-font-color);
    width: 20vw;
    margin-bottom: 1rem;
}

p {
    padding: 1rem 1.5rem 1rem 1.5rem;
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
    fieldset {
        min-width: 75vw;
        min-height: 25vh;
        /* max-width: 75vw;
        max-height: 35vh; */
    }
   
}

@media screen and (min-width: 600px) {
     
    fieldset {
        min-width: 62vw;
        min-height: 25vh;
        max-width: 62vw;
        max-height: 25vh;
    }

     button {
        width: 14vw;
        padding: 0.5rem;
    }
    p {
        padding: 0.5rem 1rem;
    } 
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    fieldset {
        min-width: 90vw;
        min-height: 30vh;
        max-width: 90vw;
        max-height: 30vh;
    }

    button {
        width: 14vw;
    }
}