@import url('https://use.fontawesome.com/releases/v6.2.1/css/all.css');

:root {
    --backgr-color: #ffffff;
    --backgr-color-card: #f8f8f8;
    --btn-and-font-color: #2d2d2d;
    --input-bgr-lbl-color: #ffffff;
    --box-shadow: 5px 5px 15px 1px #d4d4d4ab;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: var(--btn-and-font-color);
}

fieldset {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: var(--backgr-color-card);
    box-shadow: var(--box-shadow);
    border: 0.1rem solid var(--btn-and-font-color);
    max-width: 35vw;
    max-height: 30vh;
    min-width: 35vw;
    min-height: 25vh;
}

i {
    position: absolute;
    left: 26%;
    font-size: 16px;
    top: 37%;
}

.user,
.pass,
button,
fieldset,
legend,
input {
    border-radius: 0.3rem;
}

input {
    height: 4vh;
    width: 70%;
    border: 0.1rem solid #d8d8d8;
}

.input-user:focus,
.input-pass:focus {
    background-color: lightblue;
}

.input-user:focus+i,
.input-pass:focus+i {
    color: pink;
}

button {
    background-color: var(--btn-and-font-color);
    color: var(--input-bgr-lbl-color);
    font-size: 16px;
    min-width: 20%;
    height: 5vh;
    margin: 1.5rem;
}

.username,
.password,
button,
legend {
    font-weight: 700;
}

.username,
.password,
legend {
    font-size: 20px;
}

legend {
    background-color: var(--backgr-color-card);
    padding: 0.5rem;
    border: 0.1rem solid var(--btn-and-font-color);
    width: 30%;
    margin-bottom: 1rem;
}

p {
    position: relative;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

/******** media queries********/
@media screen and (min-width: 400) and (max-width: 499px) {
    /* fieldset {
        min-width: 80%;
        min-height: 30%;
    } */


    /* button {
        width: 20%;
        margin: 0 0 0 0.5rem;

    }

    .username,
    .password,
    legend,
    button,
    i {
        font-size: 10px;
    }

    i {
        left: 8%;
    }

    p {
        padding: 0.5rem;
    } */

}

@media screen and (min-width: 500px) and (max-width: 599px) {
    fieldset {
        min-width: 90vw;
        min-height: 30vh;
        max-width: 90vw;
        max-height: 30vh;
    }

    button {
        width: 14vw;
    }
}

@media screen and (min-width: 600px) and (max-width:799px) {

    fieldset {
        min-width: 62vw;
        min-height: 25vh;
        max-width: 62vw;
        max-height: 25vh;
    }

    button {
        width: 14vw;
        padding: 0.5rem;
    }

    p {
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
    fieldset {
        max-width: 75vw;
        max-height: 35vh;
    }

    i {     
        left: 32%;        
    }
}