@import url('https://use.fontawesome.com/releases/v6.2.1/css/all.css');

:root {
    --backgr-color: #ffffff;
    --backgr-color-card: #f8f8f8;
    --btn-and-font-color: #2d2d2d;
    --input-bgr-lbl-color: #ffffff;
    --box-shadow: 5px 5px 15px 1px #d4d4d4ab;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;

}

body {
    font-family: sans-serif;
    color: var(--btn-and-font-color);
}

form {
    width: 35%;
    height: 20%;
    margin: 10% auto;
    border: 0.1rem solid var(--btn-and-font-color);
    box-shadow: var(--box-shadow);
    background-color: var(--backgr-color-card);
}

fieldset {
    padding: 2em;
    border: none;
}

legend {
    font-size: 1rem;
    border: 0.1rem solid var(--btn-and-font-color);
    background-color: var(--backgr-color-card);
    padding: 0.5rem 6rem 0.5rem 1.5rem;
    position: relative;
    left: -6%;
    top: -1rem;
}

p {
    position: relative;
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5em;
  }

  input {
    width: 80%;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    border: none;
    border: 0.1rem solid #d8d8d8;
  }

  #username:focus,
  #password:focus {
  background-color: lightblue;
  }
  
  #username:focus+i,
  #password:focus+i {
    color: blue;  
  }

i {
    position: absolute;
    top: 17%;
    left: 18%;
}

.user,
.pass,
button,
fieldset,
legend,
input {
    border-radius: 0.3rem;
}

 button {
    background-color: var(--btn-and-font-color);
    color: var(--input-bgr-lbl-color);
    font-size: 16px;
    width: 15%;
    padding: 0.7rem 0.7rem;
    margin: 0.5% 0;
    border: none;
} 

.username,
.password,
button,
legend {
    font-weight: 700;
}

.username,
.password,
legend {
    font-size: 20px;
}

/* || MEDIA QUERIES */

@media screen and (min-width: 1692px) and (max-width: 1884px) {
    /* i {
        left: 20%;
    } */
    /* form {
        width: 35%;
        height: 20%;
    } */

@media screen and (min-width: 400px) and (max-width: 1691px) {
    /* form {
        width: 35%;
        height: 20%;
    } */

/* 
    button {
        width: 20%;
        margin: 0 0 0 0.5rem;

    } */

    /* .username,
    .password,
    legend,
    button,
    i {
        font-size: 10px;
    }

    i {
        left: 8%;
    }

    p {
        padding: 0.5rem;
    } */
}

/* @media screen and (min-width: 500px) and (max-width: 599px) { */
    /* i{
      right: 87%;
    }
    legend{
      left: -18%;
    }
  
  }
  
  @media screen {
    
  } */

/* @media screen and (min-width: 500px) and (max-width: 599px) {
    fieldset {
        min-width: 90vw;
        min-height: 30vh;
        max-width: 90vw;
        max-height: 30vh;
    }

    button {
        width: 14vw;
    }
} */

/* @media screen and (min-width: 600px) and (max-width:799px) {

    fieldset {
        min-width: 62vw;
        min-height: 25vh;
        max-width: 62vw;
        max-height: 25vh;
    }

    button {
        width: 14vw;
        padding: 0.5rem;
    }

    p {
        padding: 0.5rem 1rem;
    }
} */

