@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap');
@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --beige: rgb(186, 177, 173);
  --btn-clr: rgb(97, 115, 74);
  --text-clr: rgb(51, 51, 51);
  --subtitle-clr: rgb(51, 52, 55)
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-clr);
}

/* ***HEADER/HERO*** */

.header {
  height: 100vh;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.header-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo,
.intro {
  position: absolute;
}

.logo {
  width: 24%;
  height: 24%;
  top: 2%;
  left: 3%;
  border: 1px solid #7E7C7C;
  box-shadow: 5px 5px 10px 0px #7E7C7C;
}

.logo-content {
  position: absolute;
  width: 60%;
  height: 70%;
  top: 10%;
  left: 8%;
}

.header-container {
  background-color: transparent;
}

h1,
h3 {
  font-family: "Abril Fatface", cursive;
}

.line {
  border-bottom: 2px solid white;
  width: 200px;
  margin-bottom: 15px;
}

h2 {
  font-size: 8px;
  color: rgb(74, 74, 74);
}

h1 {
  font-size: 54px;
  font-weight: 900;
  padding-bottom: 20px;
}

.logo h2 {
  font-size: 22px;
}

/* **INTRO** */
.intro {
  width: 28%;
  height: 35%;
  bottom: 38%;
  right: 3%;
  background: linear-gradient(to right, #97928f 0%, #c7c2bf 39%, #f8f3ee 100%);
  box-shadow: 5px 5px 10px 0px #7E7C7C;
}

.intro-text {
  position: absolute;
  top: 83%;
  left: 30px;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 0 #333, 21px 17px 8px rgba(50, 50, 50, 0);
  text-align: right;
  padding-right: 5%;
}

.quotes {
  position: relative;
  top: 29px;
  text-align: right;
  color: #8c8480;
  font-size: 86px;
  padding-right: 5%;
}

.intro-container {
  position: relative;
}

.quotes-container {
  position: relative;
}

/*MAIN */
main {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--bgr-clr);
  display: flex;
  /* flex-flow: ; */
}

.info {
  display: flex;
  flex: 1 1 70%;
  flex-flow: column nowrap;
}

/*** SERVICES** */
.services-icon {
  margin-right: 10px;
}

.services-item {
  text-transform: uppercase;
}

.services-list {
  padding: 3% 10% 5% 10%;
}

li {
  list-style-type: none;
}

.services li {
  font-size: 18px;
  padding-bottom: 5%;
}


h3 {
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 10%;
  padding-top: 5%;
}
.contact-line{
  width: 100%;
 border-bottom: 1px solid var(--text-clr);
 padding-top: 1%;
}

.contact-list {
  display: flex;
  flex-flow: row wrap;
  padding: 3% 10%;
  font-size: 18px;
}

.contact-list li{
  padding-right: 3%;
}

.contact-item{
  font-style: italic;
}

/* form */
form{
  padding: 2% 10%;
}
input{
  background-color: var(--beige);  
  padding: 10px 12px;
}

input,label{
  border: none;
  color: white;
  border-radius: 5%;
}

label{
  background-color: var(--btn-clr);
  padding: 10px 12px;
}
/* **ASIDE** */
.aside {
  display: flex;
  flex: 0 1 30%;
  background-color: var(--beige);
}