/* @import url(https://fonts.googleapis.com/css2?family=Mulish&display=swap); */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
}

div.card {
  display: inline-block;
  position: absolute;
  min-width: 55rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border-radius: 7px; */
}

.card img {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 12px 11px 9px 7px rgba(90,90,90,0.73);
}

.form-section{
  width: 70%;
  height: auto;
}
h1{
  display: inline-block;
  position: absolute;
  /* text-align: center;
  top:5%;
  left: 25%; */
}
/* 
.form{
  display: inline-block;
  position: absolute;
} */