/* html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
} */

main{
    width: 700px;
    height: 500px;
    margin: 60px;
    display: inline-block;;
    position: absolute;
    top:200px;
    left:600px; 
    /* background-color: blueviolet; */
}

img.new{
    display: inline-block;
    position: relative;
    /* top:365px;
    right: -850px; */
    top: -200px;
    right: -150px;
}

.cup{
    display: inline-block;
    position: absolute;
}
/* .image-cup{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */