@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --bgr-clr-footer: #b2f1dd;
    --highlight-clr: #00d08e;
    --bgr-clr-main: #ffffff;
}

body {
    font-family: "PT Sans", "san-serif";
}

/* ||***HEADER*** */
header {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: relative;
    color: white;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.46271008403361347) 100%);
    opacity: 0.4;
}

header nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 70%;
    margin: 2% 10%;
}

.logo {
    font-size: 22px;

}

.cart {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
}

header,
.cart {
    text-shadow: 2px 2px 4px #000000;
}

.header-content {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    margin: 0% auto;
    text-align: center;
}

h1 {
    font-size: 74px;
}

.header-content p {
    font-size: 25px;
    padding: 2% 30%;
}

.buy {
    background-color: var(--highlight-clr);
    border: 1px solid var(--highlight-clr);
    border-radius: 7%;
    width: 10%;
    color: white;
    padding: 0.7% 0.8%;
    font-size: 20px;
    margin: 6% auto;
    font-weight: bold;

}

.buy:hover {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

a {
    color: white;
    font-size: 26px;
}

.fa-circle-arrow-right {
    margin-left: 1%;
    font-weight: 700;
}

/* || *** MAIN*** */
.details-right-list i,
.details-left-items {
    color: var(--highlight-clr);
}

main {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.details.right,
.details.left {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 50%;
}

.details.right article,
.details.left article {
    width: 50%;
    height: 100%;
    background-color: var(--bgr-clr);
}

.details-photo {
    object-fit: cover;
    overflow: hidden;
}

.details-content.right {
    padding: 2% 5%;
}

h2 {
    font-size: 45px;
}

.details-text {
    font-size: 29px;
}

.details-right-items {
    font-size: 26px;
    line-height: 2;
}

.details.right h2 {
    padding-bottom: 2%;
}

.fa-circle-check {
    padding-right: 5%;
}

ul.details-right-list {
    margin: 5% 0;
}

/* || LEFT */

.details.left h2 {
    margin-top: 3%;
    text-align: center;
}

ul.details-left-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* padding: 5% 20% 2% 10%; */
}

.details-left-items {
    width: 10%;
    font-size: 24px;
    margin: 5% 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.details-left-list-items {
    padding-top: 5%;
}

.details-photo.left .details-photo {
    height: 100%;
    width: 100%;
}

/* || FOOTER */

footer {
    background-color: var(--bgr-clr-footer);
    width: 90%;
    height: 60vh;
    margin: 0 auto;
}

footer h2 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.contact a {
    color: black;
}

h3 {
    font-size: 28px;
    padding-bottom: 3%;
}

.footer-content p {
    font-size: 20px;
}

.faq {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1% auto;
}

.footer-content {
    width: 30%;
    padding: 1% 3%;
    text-align: center;
}

.contact,
.contact a {
    font-size: 22px;
    text-align: center;
}