.site {
    max-width: 60em;
    margin: 0 auto;
    background-color: aqua;
}

.site-main {
    padding: 1em;
    width: 60%;
    float: left;
}

.site-header {
    padding: 1em;
}

.site-header .site-title {
    float: left;
}

.site-header .site-nav {
    /* float: left; */
    /* to display nav next the title needs
     to be floated right */
    float: right;
}

.site-sidebar {
    padding: 1em;
    width: 40%;
    float: left;
}

.site-footer {
    padding: 1em;
    clear: both;
}

/* cleaner added as class in html to elements to
clean float*/
.cleaner:after {
    display: block;
    content: '';
    clear: both;
}