@import url(https://fonts.googleapis.com/css2?family=Mulish&display=swap);

@import url("./reset.css");
@import url("./backgrounds.css");

section.card{
    display: inline-block;

    /* display: flex; */
    /* justify-content: center;
    align-content: center; */

   
}

.card-form{
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: 20%
} 