<section>
    <h1>New Facility</h1>

    <form action="/facility/create" method="post">
        <label>Label
            <input type="text" name="label">
        </label>   
        <label>IconUrl:<input name="iconUrl"></label>
        <button>Submit</button>
    </form>
</section>