<section>
    <h1>New Accomodation</h1>
    {{#if error}}
    {{#each error}}
    <p class="error">{{this}}</p>
    {{/each}}

    {{/if}}
    <form action="/create" method="post">
        <label for="name">Name
            <input type="text" name="name">
        </label>
        <label for="description">Description
            <textarea type="text" name="description"></textarea>
        </label>
        <label for="city">City
            <input type="text" name="city">
        </label>
        <label for="beds">Beds
            <input type="text" name="beds">
        </label>
        <label for="price">Price
            <input type="text" name="price">
        </label>
        <button>Submit</button>
    </form>
</section>