html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 180px;
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
}