@media screen and (max-width: 600px) {
    header nav ul li {
        display: flex;
        padding-top: 10%;
        justify-content: center;
        align-items: center;
    }

    header>nav {
        flex-flow: column;
        justify-content: center;
        margin: 0 auto;
    }

    .header-title {
        padding: 1em 0;
    }

    .header-title h1 {
        font-size: 38px;
        padding-bottom: 0.2em;
    }

    .header-title button {
        font-size: 14px;
    }

 
    .about-us {
        display: flex;
        flex-flow: column;
    }

    h3 {
        font-size: 20px;
    }

    section.about-us>p:nth-child(2) {
        padding-top: 0.1rem;
    }

    .about-us p,
    .team-description p,
    .choose-us p,
    .blog-news p {
        font-size: 12px;
    }

  
    .team-description-wrapper,
    .about-us,
    .blog-news,
    .choose-us {
        padding: 2rem 0;
    }

    .team-description-wrapper {
        display: flex;
        flex-flow: column wrap;
    }

    .team-description ul {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .team-description-wrapper li {
        padding-bottom: 1rem;
    }

    .team-description-wrapper ul li img {
        width: 200px;
        height: 200px;
    }


    .choose-us ul {
        flex-direction: column;
        gap: 0.5rem;
        width: 55%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        padding: 0 5px;
    }

    .choose-us li img {
        width: 5em;
        height: 5rem;
    }


    .blog-news {
        display: flex;
        flex-direction: column;
    }

    .blog-news ul {
        flex-flow: column;
        align-items: center;
        gap: 2rem;
    }

    .blog-news ul li:li:nth-child(1) {
        padding-bottom: 1rem;
    }

    section.avatar {
        width: 10rem;
    }

    .blog-news .content {
        width: 10rem;
        font-size: 8px;
    }
}

/* ORIGINAL SOLUTION */

/* @media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    nav img {
        padding-bottom: 15px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    nav li {
        padding-bottom: 5px;
    }

    .header-title {
        padding: 0;
    }

    .team-description ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team-description ul li img {
        width: 200px;
        height: 200px;
        padding-bottom: 0.3rem;
    }

    .choose-us ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 100px;
    }

    .blog-news ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 0 50px;
    }

    .blog-news ul .item {
        margin-bottom: 50px;
    }
} */

/* MY SECOND SOLUTION:*/