	<div class="cube">
		<img class="cube"
			src={{imgUrl}}>
		<p class="name">{{name}}</p>
		<p><span>Difficulty level:</span> {{level}}</p>
		<a class="btn" href="/details/5c39f1851ab3b24f5c03e182">Details</a>
	</div>