@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");

:root{
   --clr-gray-bgr: #303030 ;
    --clr-border: #222222 ;
    --clr-highlight: #e40914 ;
    --clr-text: white;
}

body{
    font-family: Arial,Helvetica, "sans-serif";
    color: var(--clr-text);
    background-color:var(--clr-gray-bgr);
position: relative;
}
.btn{
    background-color: var(--clr-highlight);
    color: var(--clr-text);
    border-radius: 0.2rem;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
}
.btn.lrg{
    padding: 0.5rem 0.9rem;
}

.line{
    height: 1.5vh;
    background-color: transparent;
}

/* ||HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    overflow: hidden;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

/* ||HERO */

.hero{
    width: 100%;
    height:70vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30% auto;;
}
.hero::before{
    content: "";
    width: 100%;
    height:70vh;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    background: linear-gradient(to bottom, #000 0%, #0202020f 52%, #000 100%);
    opacity: 0.7;
    z-index: 0;
}

.image-header-hero{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
   z-index: -1;
}
.hero-content{
    width: 90%;
    z-index: 2;
}

.hero-content h1,
.sub,
.form-prompt,h2,h3{
    padding-bottom: 3%;
}

.hero-content h1{
    font-size: 1.5rem;
}
.sub,
.form-prompt{
    font-size: 1rem;
}

.hero-form-input{
    width:90%;
    padding: 2%;
    font-size: 0.8rem;
    margin: 3% auto;
}

.offer-info{
    padding-top: 3%;
    font-size: 0.8rem;
}

/* || MEDIA*/
.media{
    height:60vh;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

h2{
    font-size: 1.3rem;
}
h3{
    font-size: 0.8rem;
    font-weight: 300;
}

.media img{
    height: 50%;
    width: auto;
}

/* ||FAQ */
.faq{
    height:90vh;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4%;
}

.faq-list{
    background-color: black;
    width: 100vw;
}

.faq-list li{
    background-color: var(--clr-gray-bgr);
    border-bottom: 0.9rem solid black;
    width: 100%;
    font-size: 1rem;
    padding: 0 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
   margin: 0 auto;
}
.faq .form-prompt{
    padding-top: 3%;
}

i{
 font-size: 1.7rem;
}

/* ||FOOTER */
footer{
    height: 60vh;
    background-color: black;
    color: rgb(183, 179, 179);
    /* display: flex;
    flex-flow: column  wrap; */
   padding: 10%; 

}

.footer-nav{
   /* padding: 10%;  */
   height: 70%; 
   /* display: flex;
   flex-flow: column  wrap; */
}

h5{
    font-size: 0.8rem;
}

.footer-links-list{
      display: flex;
    flex-flow: row  wrap;
    /* display: flex;
    flex-flow: row wrap; */
}

.footer-links-list{
    font-size: 0.7rem;
    line-height: 2.5;
    gap: 37%;
    justify-content: start;
    /* align-items: start;
    text-align: left; */
    align-self: start;
}

footer p{
    font-size: 0.7rem;
    padding: 7% 0% 5% 0;
}

.footer-links-list li{
    /* padding-right: 10%; */
}

/* ||MEDIA QUERIES */
/* @media all and (min-width: 943px){
    .hero,.hero::before{
        height: 70vh;
    }

    .hero-content{
        width: 60%;
       
    }

    .hero-content h1,
    .sub,
    .form-prompt,h2,h3{
        padding-bottom: 1%;
    }

    .hero-content h1{
        font-size: 2.7rem;
    }
    .sub{
        font-size: 1.4rem;
    }
    .form-prompt{
        font-size: 1rem;
    }

    .hero-form{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .btn.lrg{
        width: 60%;
        padding: 0.2rem 3%;
        line-height: 2.8;
    }


    .faq-list{
        background-color: black;
        width: 80vw;
    }

    .faq-form{
        width: 80vw;
    }
    .faq-form .btn{
        width: 45%;
    }
    .faq-form input{
        width: 100%;
    }
    .faq-form .btn{
        line-height: 3.2;
    }
   
} */

/* @media all and (min-with-) { */
    
/* } */




