@import url("https://use.fontawesome.com/releases/v6.3.0/css/all.css");

:root {
    --clr-gray-bgr: #303030;
    --clr-border: #222222;
    --clr-highlight: #e40914;
    --clr-text: white;
}

body {
    font-family: Arial, Helvetica, "sans-serif";
    color: var(--clr-text);
    background-color: var(--clr-gray-bgr);
    position: relative;
}

.btn {
    background-color: var(--clr-highlight);
    color: var(--clr-text);
    border-radius: 0.2rem;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn.lrg {
    padding: 0.5rem 0.9rem;
}

/* ||HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    overflow: hidden;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

/* ||HERO */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30% auto;
}

.hero::before {
    content: "";
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    background: linear-gradient(to bottom, #000 0%, #0202020f 52%, #000 100%);
    opacity: 0.7;
    z-index: 0;
}

.image-header-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    width: 90%;
    z-index: 2;
}

.hero-content h1,
.sub,
.form-prompt,
h2,
h3 {
    padding-bottom: 0.2rem;
}

.hero-content h1 {
    font-size: 1.5rem;
}

.sub,
.form-prompt {
    font-size: 1rem;
}

.hero-form-input {
    width: 90vw;
    border: 1px solid gray;
    padding: 2%;
    font-size: 0.8rem;
    margin: 3% auto;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.offer-info {
    padding-top: 0.4rem;
    font-size: 0.8rem;
}

/* || MEDIA*/
.media {
    height: 60vh;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.media,footer{
    margin-top: 2%;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 0.8rem;
    font-weight: 300;
}

.media img {
    width: 70%;
    height: auto;
}

/* ||FAQ */
.faq {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4%;
}

.faq h2 {
    padding-bottom: 1.5rem;
}

.faq-list {
    background-color: black;
    width: 100vw;
}

.faq-list li {
    background-color: var(--clr-gray-bgr);
    border-bottom: 0.9rem solid black;
    width: 100%;
    font-size: 1rem;
    padding: 0 5%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.faq .form-prompt {
    padding-top: 3%;
}

i {
    font-size: 1.7rem;
}

/* ||FOOTER */
footer {
    height: 70vh;
    background-color: black;
    color: rgb(183, 179, 179);
    padding: 10%;

}

.footer-nav {

    height: 70%;

}

h5 {
    font-size: 0.8rem;
}

.footer-links-list {
    display: flex;
    flex-flow: row wrap;
}

.footer-links-list {
    font-size: 0.7rem;
    line-height: 2.5;
    gap: 37%;
    justify-content: start;
    align-self: start;
}

footer p {
    font-size: 0.7rem;
    padding: 7% 0% 5% 0;
}

.footer-links-list li {

}

/* ||MEDIA QUERIES */
@media all and (min-width:640px) {
    .hero-form-input {
        flex: 1 1 70%;
    }

    .btn.lrg {
        flex: 0 1 30%;
        padding: 0.8rem 0.9rem;
    }

    form {
        flex-flow: row wrap;
        width: 80vw;
    }

    .media,
    footer {
        height: 100vh;
    }

    .media img {
        padding-top: 2%;
        width: 50%;
    }

    .faq {
        height: 140vh;
    }

    .faq-list {
        width: 70vw;
        margin: 0 auto;
    }

    .faq-form {
        width: 70vw;
    }

    i {
        font-size: 1.6rem;
    }

    .faq-list li {
        font-size: 1rem;
    }

    .faq-form .btn.lrg {
        padding: 0.7rem 0.9rem;
    }

    .faq .form-prompt {
        font-size: 0.8rem;
    }
}

@media all and (min-width: 768px) {
    .btn {
        padding: 0.4rem 0.9rem;
        font-size: 1.2rem;
    }

    header {
        height: 6rem;
    }

    .hero-content h1 {
        font-size: 2.8rem;
    }

    .sub,
    .form-prompt {
        font-size: 1.9rem;
    }

    .offer-info {
        font-size: 1.6rem;
    }

    form {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .media{
        height: 90vh;
    }

    .media img{
        width: 90%;
    }

    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }

    .faq {
        height: 100vh;
    }
    .faq-form {
        flex-flow: column;
    }
    .faq .form-prompt {
        font-size: 1.2rem;
    }

    .btn{
        border-radius: 0.2rem;
    }

    .hero-form-input {
        width: 70vw;
    }
   
}